* {
    box-sizing: boder-box;
    padding: 0;
    margin: 0;
    /*font-size: 63%;*/
}

html {
    scroll-behavior: smooth;    
}

body {
    font-size: 1.5rem;
    background: var(--black);
}

h1{
    
}

h2 {

}

/*--------- HEADER ----------*/

body {
    background: var(--body);
    font-family: 'Space Grotesk', sans-serif;
}

/*--------- MAIN -----------*/
