:root{
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --black-light: #17171A;
    
    --black: #121214;

    --orange: #E07B67;

    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}